.MainLayout {
	height: 100%;
    box-sizing: border-box; /* fix bug in browsers */
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: repeat(6, 1fr);
}

.MainLayout>.Header {
    grid-column: span 6;
}

.MainLayout>.Main{
    grid-column: span 5;
}

.MainLayout, .MainLayout>*{
    border: 1px solid black;
}
